/* geral */

body{
    background-color: var(--cor-secundaria);
}

* {
    margin: 0px;
    padding: 0px;
    --cor-padrao:  rgb(38, 123, 221);
    --cor-secundaria: rgb(200, 255, 0);
    color: white;
    --cor-fonte-alternativa: black;
}

/* paginas */

header{
    background-color: var(--cor-padrao);
    text-align: center;
}

footer{
    background-color: var(--cor-padrao);
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}

main{
    padding: 10px;
}

button.voltar{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: darkgreen;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* graficos.html */

.pesquisa input {
    background-color: darkgreen;
    border: none;
    color: lightgrey;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: fit-content;
}

.indice {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    margin: 10px;
}

div.grafico{
    display: flex;
    justify-content: center;
}

img.grafico{
    width: 70%;
}

div.indices{
    padding: 10px;
    margin: 10px;
    display: grid;
}

/* melhores.html */

.top10 {
    display: flex;
    justify-content: center;
}

.titulo h2{
    display: flex;
    justify-content: center;
    color: black;
}

.coluna {
    display: grid;
    width: 50%;
    justify-items: center;
}

.acao {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    margin: 10px;
    width: 80%;
}
