/* geral */

body{
    background-color: var(--cor-secundaria);
}

* {
        margin: 0px;
        padding: 0px;
        --cor-fonte-padrao: white;
        --cor-fonte-alternativa: black;
        --cor-padrao:  rgb(3, 3, 26);
        --cor-secundaria: aliceblue;
    }

/* paginas */

header{
    background-color: var(--cor-padrao);
    text-align: center;
}

footer{
    background-color: var(--cor-padrao);
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}

main{
    padding: 10px;
}

h1{
    color: var(--cor-fonte-padrao);
}

button.voltar{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: var(--cor-padrao);
    color: var(--cor-fonte-padrao);
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* graficos.html */

.pesquisa input {
    background-color: var(--cor-padrao);
    border: none;
    color: var(--cor-fonte-padrao);
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: fit-content;
}

.indice {
    background-color: var(--cor-padrao);
    border: none;
    color: var(--cor-fonte-padrao);
    padding: 12px 16px;
    font-size: 16px;
    margin: 10px;
}

div.grafico{
    display: flex;
    justify-content: center;
}

img.grafico{
    width: 70%;
}

div.indices{
    padding: 10px;
    margin: 10px;
    display: grid;
}

/* melhores.html */

.top10 {
    display: flex;
    justify-content: center;
}

.titulo h2{
    display: flex;
    justify-content: center;
    color: var(--cor-fonte-alternativa);
}

.coluna {
    display: grid;
    width: 50%;
    justify-items: center;
}

.acao {
    background-color: var(--cor-padrao);
    border: none;
    color: var(--cor-fonte-padrao);
    padding: 12px 16px;
    font-size: 16px;
    margin: 10px;
    width: 80%;
}

footer {
    color: var(--cor-fonte-padrao);
}
