*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    --cor-fonte-padrao: white;
    --cor-fonte-alternativa: black;
    --cor-padrao:  rgb(3, 3, 26);
    --cor-secundaria: aliceblue;
    --cor-terciaria: rgb(13, 13, 68);
    --cor-borda: #ccc;
    --fonte: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-color: var(--cor-padrao);
}

form{
    background-color: var(--cor-secundaria);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-bottom: 50px; 
    margin-top: 50px;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

form h3 {
    text-align: center;
    color: var(--cor-padrao);
    font-family: var(--fonte);
}

form h4{
    text-align: left;
    color: var(--cor-padrao);
    font-family: var(--fonte);
    margin-top: 10px;
}

form input[type=text]{
    width: 100%;
    height: 45px;
    border: solid 1px var(--cor-borda);
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=int]{
    width: 100%;
    height: 45px;
    border: solid 1px var(--cor-borda);
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=date]{
    height: 45px;
    border: solid 1px var(--cor-borda);
    padding-left: 10px;
    margin: 10px 0;
    font-family: var(--fonte);
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: var(--cor-padrao);
    color: var(--cor-secundaria);
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=submit]:hover{
    background-color: var(--cor-terciaria);
}

form .coluna {
    width: 48%; 
    display: inline-block;
}

form #data {
    text-align: center;
}
form #data h4 {
    text-align: center;
}

form div.cadastroDeAcoes{
    text-align: center;
    width: 48%; 
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

form input[type=submit],
a.cadastro-link {
    width: 48%; 
    flex: 1; 
    height: 40px; 
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=submit]:hover,
a.cadastro-link:hover {
    background-color: var(--cor-terciaria);
}

form div.cadastroDeAcoes a{
    color: var(--cor-fonte-padrao);
    text-decoration: none;
}

form div.cadastroDeAcoes a.cadastro-link {
    display: inline-block;
    padding: 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    color: var(--cor-fonte-padrao);
    background-color: var(--cor-padrao);
    font-weight: 100;
    text-decoration: none;
    border: 0;
    border-radius: 20px;
    transition: 1s;
    width: 48%;
    height: 35px;
    cursor: pointer;
}

a.cadastro-link:hover {
    background-color: var(--cor-terciaria);
}

input.botao-enviar {
    margin-top: 6px;
}
