
* {
    margin: 0px;
    padding: 0px;
    --cor-fonte-padrao: white;
    --cor-fonte-alternativa: black;
    --cor-padrao:  rgb(3, 3, 26);
    --cor-secundaria: aliceblue;
}

header{
    background-color: var(--cor-padrao);
    text-align: center;
}

body, html{
    color: var(--cor-fonte-padrao);
    background-color: var(--cor-secundaria);
}

div.principais-ativos{
    display: inline-block;
    background-color: var(--cor-padrao);
    width: 50%;
    max-width: 400px;
    min-width: 250px;
    height: 500px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
}

div.foto-perfil, div.voltar{
    position: fixed;
    right: 0;
    display: inline-block;
    background-color: var(--cor-secundaria);
    width: 300px;
    height: 250px;
    text-align: center;
    margin-top: 20px;
    margin-right: 10%;
}

img.foto-perfil{
    width: 200px;
}

h2.nome-usuario{
    color: var(--cor-fonte-alternativa);
    text-align: center;
}

h3.e-mail{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    background-color: var(--cor-padrao);
}

div.voltar{
    display: block;
    position: fixed;
    right: 0;
    width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}

button.voltar{
    background-color: var(--cor-padrao);
    font-weight:700;
    padding: 5px;
    margin: 10px;
}

button{
    color: var(--cor-fonte-padrao);
    text-decoration: none;
}

footer{
    background-color: var(--cor-padrao);
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}
