/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    white: white;
    --cor-fonte-alternativa: black;
    rgb(3, 3, 26):  rgb(3, 3, 26);
    aliceblue: aliceblue;
    rgb(13, 13, 68): rgb(13, 13, 68);
    --cor-borda: #ccc;
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

main{
    background-color: aliceblue);
    max-width: 500px;
    width: 70%;
    padding: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

main section{
    position: absolute;
    max-width: 450px;
    top: 10%;
}


html, body{
    color: white);
    background-color: rgb(3, 3, 26));
    margin: 0px;
    padding: 0px;
}

main section h1{
    color: rgb(3, 3, 26));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif);
    text-align: center;
}

main h3 {
    text-align: center;
    color: aliceblue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif);
}

a{
    color: white);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    background-color: rgb(13, 13, 68));
    color: white);
}

section{
    position: relative;
    background-color: aliceblue);
    left: 10%;
    right: 10%;
    top: 30%;
    nav-down: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


div{
    /* display: flex; */
    width: 90%;
    height: 70px;
    margin: 20px;
    padding-top: 15px;
    background-color: rgb(3, 3, 26));
    text-align: center;
    border-radius: 20px;
}


div.perfil{
    color: white);
}

div.perfil:hover{
    background-color: rgb(13, 13, 68));
}

div.top-10{
    color: white);
}

div.top-10:hover{
    background-color: rgb(13, 13, 68));
}

div.cadastrar-ativos{
    color: white);
}

div.cadastrar-ativos:hover{
    background-color: rgb(13, 13, 68));
}

div.graficos{
    color: white);
}

div.graficos:hover{
    background-color: rgb(13, 13, 68));
}

footer{
    background-color: rgb(3, 3, 26));
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}