* {
    margin: 0px;
    padding: 0px;
    --cor-padrao:  rgb(38, 123, 221);
    --cor-secundaria: rgb(200, 255, 0);
}

html, body{
    background-color: var(--cor-secundaria);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor-padrao);
    text-align: center;
}

main{
    background-color: var(--cor-secundaria);
    padding-top: 30px;
}

form.formulario{
    margin: 10px;
    padding: 15px;
}


div.cadastro{
    text-align: center;
}

input{
    width: 100%;
    padding: 4px;
}

button.cadastro{
    background-color: var(--cor-padrao);
    font-weight:700;
    padding: 5px;
    margin: 10px;
}

footer{
    background-color: var(--cor-padrao);
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}

