* {
    margin: 0px;
    padding: 0px;
    --cor-fonte-padrao: white;
    --cor-fonte-alternativa: black;
    --cor-padrao:  rgb(3, 3, 26);
    --cor-secundaria: aliceblue;
}

html, body{
    background-color: var(--cor-secundaria);
    margin: 0px;
    padding: 0px;
    color: var(--cor-fonte-padrao);
}

header{
    background-color: var(--cor-padrao);
    text-align: center;
}

main{
    background-color: var(--cor-secundaria);
    padding-top: 30px;
}


form.formulario{
    margin: 10px;
    padding: 15px;
}


div.cadastro{
    text-align: center;
}

h3{
    color: var(--cor-fonte-alternativa);
    margin-top: 10px;
}


input{
    width: 100%;
    padding: 4px;
}

button.cadastro{
    color: var(--cor-fonte-padrao);
    background-color: var(--cor-padrao);
    font-weight:700;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

a{
    color: var(--cor-fonte-padrao);
    text-decoration: none;
}

footer{
    background-color: var(--cor-padrao);
    text-align: center;
    position:fixed;
    width:100%;
    bottom:0;
}

