*{
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box;
    --cor-fonte-padrao: white;
    --cor-fonte-alternativa: black;
    --cor-padrao:  rgb(3, 3, 26);
    --cor-secundaria: aliceblue;
    --cor-terciaria: rgb(13, 13, 68);
    --cor-borda: #ccc;
}


body{
    background-color: var(--cor-padrao);
}

form{
    background-color: var(--cor-secundaria);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

form h3 {
    text-align: center;
    color: var(--cor-padrao);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: solid 1px var(--cor-borda);
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=button]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: var(--cor-padrao);
    color: var(--cor-secundaria);
    border: 0;
    border-radius: 20px;
    transition: 1s;
}

form input[type=button]:hover{
    background-color: var(--cor-terciaria);
}

p{
    text-align: center;
}

a{
    color: var(--cor-terciaria);
    cursor: pointer;
}
